*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color:aqua;
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
.container h1{
    margin-top:20px;
    text-align:center;
    border: 5px solid #ff0000;
    padding: 20px;
    border-radius: 15px;
    color: blue;
}
.project-list ol{
    margin-top:20px;
    margin-left:30px;
}
ol li{
   margin:10px;
   color: #000;
   font-size:large;
}
li a{
    text-decoration: none;
    color: #000;
}